span {
  background: red;
  display: inline-block;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}

.changeColor span {
  background: green;
}

.changeLength span:after {
  content: '米斯特吴';
  margin-left: 10px;
}
